*.iml
.gradle/
.kotlin/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/

.cursor/

.DS_Store

.mermaid-check/
node_modules/
